* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    color: #fff;
    height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),
                            url("../image/astronauta.jpg") no-repeat;
    background-size: cover;
}

.container-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.container-menu ul {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.container-menu ul li {
    list-style: none;
    padding: 20px;
    margin-top: 63px;
}

.container-menu ul li:nth-child(5) {
    margin-right: 10px;
}

.container-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all ease-in-out 200ms;
}

.container-menu ul li:hover a {
    border-bottom: 3px solid #fff;
    top: 2px;
}

.container-content-text {
    display: flex;
    align-items: center;
    align-content: center;
    width: 600px;
    margin-left: 167px;
    margin-top: 280px;
    flex-direction: column;
}

.container-content-text .title h1{
    font-size: 74px;
    font-weight: normal;
    box-sizing: border-box;
}

.container-content-text .title span {
    display: flex;
    justify-content: center;
}

.container-content-text .sub-title {
    display: flex;
    text-align: justify;
    width: 470px;
    margin-top: 20px;
    font-size: 18px;
}

