* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    color: #fff;
    height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),
                            url("../image/astronauta.jpg") no-repeat;
    background-size: cover;
}

.container-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.container-menu ul {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.container-menu ul li {
    list-style: none;
    padding: 20px;
    margin-top: 50px;
}

.container-menu ul li:nth-child(5) {
    margin-right: 10px;
}

.container-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all ease-in-out 200ms;
}

.container-menu ul li:hover a {
    border-bottom: 3px solid #fff;
    top: 2px;
}

.container-content-text {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    width: 485px;
    margin: 120px;
    flex-direction: column;
}

.container-content-text .title h1{
    font-size: 74px;
    font-weight: bold;

}

.container-content-text .title span {
    display: flex;
    justify-content: center;
}

.container-content-text .sub-title {
    text-align: justify;
    display: inline;
    width: 470px;
    margin-top: 20px;
    font-size: 18px;
}

.container-about {
    background-color: #3D3D3D;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 95vh;
    position: relative;
}

.container-about .about {
    margin: 100px 0 0 100px;
    text-align: justify;
    width: 450px;
    padding: 20px;
}

.container-about .about h1 {
    color: #9400ff;
    font-size: 64px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.container-about .line {
    width: 10px;
    height: 500px;
    background: #9400ff;
    margin: 80px auto;
}

.container-about img {
    width: 501px;
    margin: 134px 101px 0 0;
}

.wrapper {
    background-color: #9400ff;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.wrapper > h1 {
    position: absolute;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 90px 20px 0 0;
    height: 75%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    top: 0;
    transition: all 100ms ease-in;
}

.card:first-of-type {
    margin-left: 20px;
}

.card:hover {
    top: -5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
}

.card img {
    background-size: cover;
    width: 100%;
}

.card__content {
    display: flex;
    flex-direction: column;
    margin: 30px 25px;
}

.card__content h1,
.card__content p{
    margin-bottom: 20px;
}

.card__content button {
    width: 35%;
    border: none;
    background: #fffa65;
    color: #3d3d3d;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.card__content button:hover {
    background: #9400ff;
    color: #fff;
}

.wrapper.solar-system {
    background-color: #3D3D3D;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card.card-solar-system {
    margin-top: 90px;
}

.container-contact {
    height: 100vh;
    width: 100%;
    background: #9400ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-contact h3 {
    position: absolute;
    color: #fff;
    margin: 20px 0;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    top: 39px;
}

.container-contact .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    height: 450px;
    width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.container-contact .contact label {
    font-size: 18px;
    margin: 0 22px 10px;
}

.container-contact .contact input[type="text"],
.contact input[type="email"]{
    width: 350px;
    margin: 10px 0 20px 20px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .4);
    font-size: 18px;
    outline: none;
}

.container-contact .contact textarea {
    width: 350px;
    margin: 10px auto;
    height: 80px;
}

.container-contact .contact button {
    width: 350px;
    margin: 0 auto;
    padding: 12px;
    border: none;
    background-color: #fffa65;
    color: #3d3d3d;
    border-radius: 10px;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.container-contact .contact button:hover {
    background: #9400ff;
    color: #fff;
}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D3D3D;
    color: #fffa65;
    height: 15vh;
}