* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    color: #fff;
    height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),
                            url("../image/astronauta.jpg") no-repeat;
    background-size: cover;
}

.container-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.container-menu ul {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.container-menu ul li {
    list-style: none;
    padding: 20px;
    margin-top: 50px;
}

.container-menu ul li:nth-child(5) {
    margin-right: 10px;
}

.container-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all ease-in-out 200ms;
}

.container-menu ul li:hover a {
    border-bottom: 3px solid #fff;
    top: 2px;
}

.container-content-text {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    width: 485px;
    margin: 20vh;
    flex-direction: column;
}

.container-content-text .title h1{
    font-size: 74px;
    font-weight: normal;
    box-sizing: border-box;
}

.container-content-text .title span {
    display: flex;
    justify-content: center;
}

.container-content-text .sub-title {
    text-align: justify;
    display: inline;
    width: 470px;
    margin-top: 20px;
    font-size: 18px;
}

.container-about {
    background-color: #3D3D3D;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    position: relative;
}

.container-about .about {
    background: red;
}

.container-about .about h1 {
    color: #CD84F1;
    font-size: 64px;
}

.container-about .about-image img {
    position: absolute;
    width: 546px;
    margin-top: 150px;
    margin-left: 75px;
}

